POSTGRES_SUPERUSER=
POSTGRES_SUPERUSER_PASSWORD=
CRM_DB_NAME=rtk_crm
CRM_DB_USER=
CRM_DB_PASSWORD=
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
CRM_OIDC_CLIENT_SECRET=
SITE_BASE_URL=
SITE_TOKEN=
MOODLE_BASE_URL=
MOODLE_TOKEN=
MOODLE_COURSE_IDS=
MOODLE_DEMO_JAVA_COURSE=
MOODLE_DEMO_DATA_GROUP=
MOODLE_PUBLIC_HOST=
DEMO_LMS=true
SOURCES_SYNC_CRON=0 0 * * * *
DEMO_USER_PASSWORD=
PUBLIC_ORIGIN=http://rtk.localhost:8081
SESSION_COOKIE_SECURE=
TRUSTED_PROXY_CIDR=
TLS_CERTIFICATE_FILE=
TLS_CERTIFICATE_KEY_FILE=
