POSTGRES_SUPERUSER=
POSTGRES_SUPERUSER_PASSWORD=
CRM_DB_NAME=rtk_crm
CRM_DB_USER=
CRM_DB_PASSWORD=
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
CRM_OIDC_CLIENT_SECRET=
CRM_ACCOUNT_SYNC_CLIENT_SECRET=
SITE_BASE_URL=
SITE_TOKEN=
ENROLMENT_ENABLED=
ENROLMENT_ACTIVE_KEY_VERSION=
ENROLMENT_KEYS_V1=
ENROLMENT_FINGERPRINT_KEY=
MOODLE_BASE_URL=
MOODLE_TOKEN=
MOODLE_COURSE_IDS=
MOODLE_DEMO_JAVA_COURSE=
MOODLE_DEMO_DATA_GROUP=
MOODLE_PUBLIC_HOST=
DEMO_LMS=true
SOURCES_SYNC_CRON=0 0 * * * *
DEMO_DATA=true
SOURCES_STALE_AFTER=3h
DEMO_USER_PASSWORD=
DEMO_ACCOUNTS_SECURED=
CRM_ADMIN_USERNAME=
CRM_ADMIN_DISPLAY_NAME=
CRM_ADMIN_PASSWORD=
PUBLIC_ORIGIN=http://rtk.localhost:8081
SESSION_COOKIE_SECURE=
TRUSTED_PROXY_CIDR=
TLS_CERTIFICATE_FILE=
TLS_CERTIFICATE_KEY_FILE=
